<!DOCTYPE html>
<html lang="en">
  
<head>
    
    <title>BlueTrend</title>

    <!--Meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--Bootstrap import-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!--Bootstrap toggle-->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <!--Dark mode toggle-->
    <style>

        .adult {
            /*display: none;*/
        }
        #hashtag{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>
<script>
    function Darkmode(toggle) {
        if (toggle.checked) {
            //alert ("Darkmode On");
        } else {
            //alert ("Darkmode Off");
        }
    }
</script>
<script>
    function HideshowAdultContent(toggle){
        var divsToHide = document.getElementsByClassName("adult"); //divsToHide is an array
        for(var i = 0; i < divsToHide.length; i++){
            if(toggle.checked){
                divsToHide[i].style.display = "none"; // depending on what you're doing
            }else{
                divsToHide[i].style.display = "block"; // depending on what you're doing
            }
        }
    }
</script>
</head>

    <body data-bs-theme="dark">
        <!--Top navbar-->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">BlueTrend</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#"></a></li>
                </ul>            
            </div>
        </nav>

        <!--Title section-->
        <div class="container" style="margin-top:50px">
            <section>

                <% const timeZoneString = Intl.DateTimeFormat().resolvedOptions().timeZone %>
                <%  let options = {
                        day: '2-digit',
                        month: '2-digit',
                        year: '2-digit',
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: true,
                        timeZone: timeZoneString
                    };
                %>
                <% let formatter = new Intl.DateTimeFormat('en-US', options); %>
                <% let start_time = formatter.format(server_start_time); %>

            </section>
            <h1>Trending on BlueSky</h1>

            <!--Main section-->
            <section>
                <div class="row">
                    <div class="col-sm-8">
                        
                        <!--Each post-->
                        <% let i = 0; %>
                        <% posts.forEach(function(post) { %>

                            <% if (post==null){ return; } %>

                            <!--Post json hover (debug)-->
                            <!--<div title="<%=post.engagement_score%>" class="well<% if(post.nsfw){%> adult <%} %>">-->
                            <div title="<%=JSON.stringify(post.engagement_score, null, 2)%>" class="well<% if(post.nsfw){%> adult <%} %>">
         
                                <!--NSFW Content warning-->
                                <% if(post.nsfw){ %>
                                    <p class="text-danger">🔞 Adult Content</p>
                                <% } %>

                                <!--Post author-->
                                <div><b>@<%- post.author %></b></div>
                                <br>

                                <!--Main post text-->
                                <% if(post.text!=""){ %>
                                    <div><h5><%- post.text %></h5></div>
                                    <br>
                                <% } %>
                                
                                <!--
                                https://cdn.bsky.app/img/feed_thumbnail/plain/
                                did:plc:bbp2b224lro3bfnzcqwwnkfo
                                /
                                bafkreihburn4cuhyk7mnggvwjkztsmwl7uattvfmo6clxudrdtyw7bt6tq@jpeg
                                -->

                                <!--Handle image items in post-->
                                <% if(post.embed && post.embed.images && post.embed.images.length > 0){ %>
                                    
                                    <div class="well">

                                        <p>[<%- post.embed.images.length  %> image<% if(post.embed.images.length>1){%>s<%}%>]</p>

                                    <!--Handle image description items in post-->
                                    <% if(post.embed && post.embed.images && post.embed.images.length > 0 && post.embed.images[0].alt != ""){ %>

                                            <p>(<%- post.embed.images[0].alt %>)</p>
                                            
                                    <!--Handle video description in post-->
                                    <% } %>

                                    </div>

                                
                                <% }else if(post.media && post.media.images && post.media.images.length > 0){ %>
                                    
                                    <div class="well">

                                        <p>[<%- post.media.images.length  %> image<% if(post.media.images.length>1){%>s<%}%>]</p>

                                    <!--Handle image description items in post-->
                                    <% if(post.media && post.media.images && post.media.images.length > 0 && post.media.images[0].alt != ""){ %>

                                            <p>(<%- post.media.images[0].alt %>)</p>
                                            
                                    <!--Handle video description in post-->
                                    <% } %>

                                    </div>

                                <% }else if(post.embed && post.embed.video){ %>
                                    <div class="well">
                                        <p>[Video]</p>
                                    </div>

                                <!--Handle record description in post-->
                                <% }else if(post.quote){ %>

                                    <div class="well">
                                        <p>[Quote]</p>
                                        <p><%- post.quote %></p>
                                    </div>

                                <!--Handle external url description in post-->
                                <% }else if(post.embed && post.embed.external){ %>

                                    <div class="well">
                                        <a href="<%- post.embed.external.uri %>"><%-post.embed.external.title%></a>
                                        <p><%-post.embed.external.description %>
                                        </p>
                                        <br>
                                    </div>

                                <% }else if(post.embed){ %>
                                    [Other embed: <%- post.embed.$type %>]
                                <% } %>

                                <!--Convert timestamp to local time string-->
                                <% let dateObj = new Date(post.postedAt / 1000); %>
                                <% const timeZoneString = Intl.DateTimeFormat().resolvedOptions().timeZone %>
                                <%  let options = {
                                        day: '2-digit',
                                        month: '2-digit',
                                        year: '2-digit',
                                        hour: '2-digit',
                                        minute: '2-digit',
                                        hour12: true,
                                        timeZone: timeZoneString
                                    };
                                %>
                                <% let formatter = new Intl.DateTimeFormat('en-US', options); %>
                                <% let utc = formatter.format(dateObj); %>

                                <!--Likes reposts and time-->
                                <div><%- utc %></div>
                                <b><div>Reposts: <%- post.reposts %> | Comments: <%- post.comments %> | Likes: <%- post.likes %></div></b>
                                <div>

                                <!--Tier place and trend direction-->
                                #<%- i+1 %>
                                <% if(post.movement_direction > 0){ %>
                                    ⬆️
                                <% }else if(post.movement_direction < 0) { %>
                                    ⬇️
                                <% }else{ %>
                                    |
                                <% } %>

                                <!--Link to bluesky post-->
                                <a href="<%- post.post_url %>" target="_blank">View on BlueSky</a>
                                
                                <!--Non English language-->
                                <% if(post.langs != "en"){ %>
                                    | <%- post.langs %>
                                <% } %>

                                <!--Non English language-->
                                <% if(post.labels){ %>
                                    | <%- JSON.stringify(post.labels) %>
                                <% } %>
                            
                                </div>

                
                            </div>
                            
                            <!--Post counter-->
                            <% i++; %>

                        <% }) %>

                    </div>

                    <!--Trend data side column-->
                    <div class="col-sm-4" style="background-color:rgb(255, 255, 255);">
                        
                        <div class="well">
                            <input class="switch" type="checkbox" checked data-toggle="toggle" data-on="Light" data-off="Dark" onchange="Darkmode(this)">
                            <!--<input class="switch" type="checkbox" data-toggle="toggle" data-on="NSFW" data-off="NSFW" onchange="HideshowAdultContent(this)">-->
                        </div>

                        <div title="<%= JSON.stringify(top_hashtags) %>" class="well">
                            <h4>Hashtags</h4>
                            <% let h = 1 %>
                            <% top_hashtags.forEach(function(hashtag) { %>
                                <h5 id="hashtag"><%- h++ %>: <a title="<%-hashtag.engagement_score%>" href="/hashtag?t=<%- hashtag.text.slice(1) %>"><%- hashtag.text %></a></h5>
                            <% }); %>
                        </div>

                        <div class="well">
                            <h4>Topics</h4>
                        </div>

                        <div class="well">
                            <h4>Debug data</h4>
                            <h5><%- n_posts_total %> posts in tier</h5>
                            <h5><%- n_posts_received-n_posts_total %> posts removed</h5>
                            <h5><%- n_posts_received %> posts processed </h5>
                            <h5><%- db_insertions %> posts in DB</h5>
                            <h5>Last updated: <%- (now-last_update)/1000 %> s ago</h5>
                            <h5>Server started at: <%- start_time %></h5>
                        </div>
                        
                    </div>

                </div>

            </section>

            </div>

        </div>
        
    </body>

</html>
